# Database Connection Configurations
SNOWFLAKE_ACCOUNT=FUYJNCR-VC67103
SNOWFLAKE_USER=SFSESSIONUSER
SNOWFLAKE_PASSWORD=YourPasswordHere
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=SNOWFLAKE
SNOWFLAKE_ROLE=ACCOUNTADMIN
PORT=4000
AUTO_OPEN_BROWSER=true
